.colortext {
	color: darkblue;
}

.body {
    background: rgb(32, 32, 32);
    font-family: monospace;
}

.entry {
    background: #f3d52f; 
    width: 90%;
    height: : 90%;
    padding: 15px;
    border: solid 1px black;
    margin: auto;
}

.block {
    background: #f3d52f; 
    width: 90%;
    height: max-content;
    padding: 15px;
    border: solid 1px black;
    margin: auto;
    text-align: justify;
}

.hidden {
    position: fixed;
    background: rgb(255, 204, 0);
    border: solid 0.5px black;
    width: 90%;
    height: max-content;
    left: 1%;
    top: 1%;
    display: none;
    color: black;
    float: right;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    z-index: 10;
}

.plus {
	position: relative;
    font-size: 11px;
    color: darkred;
    background-color: #f3d52f;
    border: none;
}

.plus:focus .hidden {
    display: block;
}

h1 {
    font-size: 16px;
    text-align: justify;
}

p {
    text-align: center;
    margin-top: center;
    padding: 5px;
}

a:link, a:visited, a:active { text-decoration: none; color: darkblue; }
a:hover { text-decoration: underline; color: blue; }

li ~li {
    margin-top: 10px;
}

ul {
	padding: 15px;
}